* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "cinzel", serif;
}
.links-container {
  display: flex;
  align-items: center;
  list-style: none;
}
.link-item {
  margin: 10px;
}
.link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  opacity: 0.7;
  transition: 0.5s;
}
.link.active,
.link:hover {
  opacity: 1;
}
.user-intrections {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translate(-50%);
}
.cart,
.user {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.cart-icon,
.user-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-icon-count {
  font-family: "tato" sans-serif;
  color: #d5be8b;
  padding: 5px;
  font-size: 15px;
  border-radius: 50%;
  background-color: #190c05;
  position: absolute;
  bottom: -12px;
  left: -12px;
}
.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
  transition: 0.5s;
}
.header-section {
  width: 100%;
  height: 100vh;
  background-image: url(image/header.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-heading {
  font-size: 100px;
  text-transform: capitalize;
  color: #fff;
}
.header-heading span {
  color: #d5be8b;
}
/*best silling section product */
.best-selling-product-section {
  position: relative;
  padding: 60px 5vw;
}
.section-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.product-contenir {
  display: flex;
  justify-content: space-between;
}
.product-card {
  border: 15px solid #d5be8b;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color: #d5be8b;
}

.product-card:nth-child(even) {
  border-color: #190c05;
  background-color: #190c05;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.product-name {
  position: absolute;
  color: #fff;
  text-transform: capitalize;
  font-family: "lato" sans-serif;
  font-size: 20px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: 0.5s;
}
.product-card:hover .product-name {
  opacity: 1;
}
.product-card:hover .product-image {
  opacity: 0.5;
}

/* mmain section */
.main-section {
  width: 100%;
  height: 800px;
  padding: 40px 5vw;
}
.section-item-contenir {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}
.section-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.section-info {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: block;
  margin-left: auto;
  padding: 50px;
  text-align: center;
}
.title {
  font-size: 60px;
  line-height: 100px;
}

.title span {
  color: #d5be8b;
}

.info {
  font-family: "lato" sans-serif;
  font-size: 25px;
  line-height: 45px;
  margin-top: 30px;
  opacity: 0.5;
}

/*image colleg*/
.image-main-section {
  width: 100%;
  height: 600px;
  padding: 50px 5vw;
}

.image-colleg {
  width: 100%;
  height: 100%;
  background: url(image/ip2.jpeg);
  background-size: cover;
}

.image-collection {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  margin: auto;
}

.colleg-image {
  position: absolute;
  object-fit: cover;
  transition: 0.5s;
}

.colleg-image:nth-child(1) {
  width: 350px;
  height: 350px;
  top: 20px;
  left: 40px;
}
.colleg-image:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 200px;
  left: 200px;
}

.colleg-image:nth-child(3) {
  width: 250px;
  height: 250px;
  top: 100px;
  left: 350px;
}

.colleg-image:hover {
  transform: translate(-10px);
}

/*review section*/
.reviwe-section {
  padding: 50px 5vw;
}
.section-title span{
  color:#d5be8b;
}

.reviwe-contenier{
  margin: 40px;
  margin-bottom: 0;
  display: flex;
  justify-content:space-between;
}
